nav a{
    margin-right: 20px;
    text-decoration: none;
    color: #fff;
    font-size: larger;
    font-weight: 700;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: black;
    padding: 10px;
    border-radius: 5px;
}

nav a:hover{
    color: orange;
    background-color: black;
    padding: 10px;
    border-radius: 5px;
}