nav a{
    margin-right: 20px;
    text-decoration: none;
    color: black;
    font-size: larger;
    font-weight: 700;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

nav a:hover{
    color: goldenrod;
}